<div class = "container">
  <h1>And the answer is...</h1> 

  <div class = "well">

    <% if @question.is_correct?(@submission) %>
      <h3>correct!</h3>
      <% else %>
      <h3>wrong!</h3>
   
      <p> <%= @question.question  %></p>
      
      <%= form_for @question, method: :patch do |f| -%>
        <%= f.text_field :submission %>
          <%= f.submit 'Submit Answer'  %>
      <% end -%>
 
    <% end %>
  </div>
</div>